html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* This will prevent horizontal scrolling */
  margin: 0;
  padding: 0;
  


}

body {
  font-family: Arial, sans-serif;
  min-height: 100%;
  background-color: #000000;
  width: 100%;
  max-width: 100%;
  margin: 0; /* Resets default margin */
  padding: 0; /* Resets default padding */
}

h1{
  font-size: 3rem;
}
p{
  font-size: 1.3rem;
}
/* Center the button container with the logo */
.button-container {
  display: flex;
  justify-content: center;
}

/* Adjust button group styles */
.button-group-left,
.button-group-right {
  display: flex;
  align-items: center;
}

/* Update button styles */
.button {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  margin: 0 5px; /* Add equal margin to all sides */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropbtn {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  margin-right: 5px; /* Add equal margin to all sides */
}

.dropbtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.760);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Center the logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-bottom: 20px;
}

.logo-link {
  width: 50%;
  max-width: 300px;
}

/* Logos */
.Headerlogo,
.Header_mobile_logo {
  display: block;
  max-width: 100%;
  max-height: 75px; /* Limit the height of the logo */
  height: auto;
}

.Headerlogo {
  display: none;
}

.support-button {
  padding: 10px 20px;
  color: black; /* Change text color to black */
  background-color: rgb(255, 255, 255); /* Change background color to white */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.support-button:hover {
  background-color: 		#00ff6a;
}

/* Highlight focus on buttons and links */
a:focus, button:focus {
  outline: 2px solid #00d6fc; /* You may change the color value according to your website's color schema */
}



/* Mobile Navigation */

.mobile-container {
  display: none; /* Hide mobile navigation by default */
}

/* Add CSS for responsive design */
@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
  .mobile-container {
    display: block; /* Show mobile navigation on smaller screens */
  }

  .button-container {
    display: none; /* Hide button container on smaller screens */
  }

  /* Add styles for the mobile navigation */
  .topnav {
    overflow: hidden;
    background-color: #060606;
    position: relative;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #dddddd10;
    color: rgb(255, 255, 255);
  }

  .active {
    background-color: #000000;
    color: white;
  }

  /* Remove display: none from dropdown content */
  .dropdown-content {
    display: none; /* Hide dropdown content by default on smaller screens */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.764);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 100px; /* Position the dropdown content next to the button */
  }
}

/* Show/Hide logos based on screen size */
@media screen and (max-width: 768px) {
  .Headerlogo {
    display: none;
  }
  .Header_mobile_logo {
    display: block;
    max-width: 100%;
    max-height: 50px;
  }
}

@media screen and (min-width: 769px) {
  .Headerlogo {
    display: block;
    max-width: 100%;
    max-height: 75px;
  }
  .Header_mobile_logo {
    display: none;
  }
}


/* Main Page */


.AboutUs {
  position: relative; /* positions relative to itself */
  height: 55vh; /* reduced height to limit vertical space. Adjust value according to your preference */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainimg_container {
  position: absolute; 
  top: 20px;
  background: url('images_for_website/unsplsh01.jpg') center center no-repeat;
  background-size: cover; 
  width: 100vw;
  height: 50vh; 
}
.mainimg_container:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Black overlay with half opacity */
}
.about-content {
  position: absolute;
  top: 20px; /* Match with .mainimg_container */
  width: 80%;
  height: 50vh; /* Match with .mainimg_container */
  margin: 0 auto;
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto; /* To accommodate for instances where text might still get overflowed */
}
.about-content h1, .about-content p {
  text-align: center; /* Centers the text */
  width: 100%; /* Ensures the text elements take full width of the parent container */
}

/* Media query to adjust styles for smaller screens */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }
  p {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
}

/* cards */

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #12121200;
  color: #ffffff;
}

.card-image {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;        /* Add flex display */
  justify-content: center; /* Center items horizontally */
}

.card-image img {
  width: auto;/* Change it to auto so image keeps its aspect ratio */
  max-width: 100%; /* Ensuring the image doesn't exceed container's width */
  height: auto;
  object-fit: cover;
}

.card-text {
  padding: 10px 3%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* Mobile Version */
@media (min-width: 800px) {
  .card {
    flex-direction: row; /* Here card switches from column to flex direction row */
  }
  .card-image, .card-text {
    flex: 1; /* On screens 800px and wider, .card-image and .card-text share space equally */
  }
  .card-content h1 {
    font-size: 6vw; 
  }
  .card-content p {
    font-size: 3vw; 
  }
}

/* FOOTER */
.footer-clean {
  padding: 50px 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(24, 24, 24) 100%);
  color: #ffffff;
}

.footer-clean h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 32px;
}

.footer-links {
  padding: 0;
  list-style: none;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  font-size: 16px;
}

.footer-links a:hover {
  opacity: 1;
}

.social-button {
  background-color: transparent;
  color: inherit;
  border: 1px solid #cccccc00;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
  text-decoration: none;
}
.instagram-btn,
.artstation-btn {
  font-size: 16px; /* Increase font size for Instagram and Artstation buttons */
}

.social-button:hover {
  opacity: 0.9;
  border: 1px solid #cccccc;
}

.instagram-btn:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.artstation-btn:hover {
  background-color: rgb(46, 79, 199);
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.center {
  justify-content: center;
  align-items: center;
}

.footer-section {
  text-align: center;
}

.footer-section + .footer-section {
  margin-top: 20px;
}

.footer-section:last-child {
  margin-top: 40px;
}

.footer-section:last-child a {
  margin-right: 0;
}

.copyright-section {
  text-align: center;
}