

html {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* This will prevent horizontal scrolling */
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


/* Center the button container with the logo */
.button-container {
  display: flex;
  justify-content: center;
}

/* Adjust button group styles */
.button-group-left,
.button-group-right {
  display: flex;
  align-items: center;
}

/* Update button styles */
.button {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  margin: 0 5px; /* Add equal margin to all sides */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropbtn {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  margin-right: 5px; /* Add equal margin to all sides */
}

.dropbtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.760);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Center the logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-bottom: 20px;
}

.logo-link {
  width: 50%;
  max-width: 300px;
}

/* Logos */
.Headerlogo,
.Header_mobile_logo {
  display: block;
  max-width: 100%;
  max-height: 75px; /* Limit the height of the logo */
  height: auto;
}

.Headerlogo {
  display: none;
}

.support-button {
  padding: 10px 20px;
  color: black; /* Change text color to black */
  background-color: rgb(255, 255, 255); /* Change background color to white */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.support-button:hover {
  background-color: 		#00ff6a;
}

/* Highlight focus on buttons and links */
a:focus, button:focus {
  outline: 2px solid #00d6fc; /* You may change the color value according to your website's color schema */
}


/* Mobile Navigation */

.mobile-container {
  display: none; /* Hide mobile navigation by default */
}

/* Add CSS for responsive design */
@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
  .mobile-container {
    display: block; /* Show mobile navigation on smaller screens */
  }

  .button-container {
    display: none; /* Hide button container on smaller screens */
  }

  /* Add styles for the mobile navigation */
  .topnav {
    overflow: hidden;
    background-color: #060606;
    position: relative;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #dddddd10;
    color: rgb(255, 255, 255);
  }

  .active {
    background-color: #000000;
    color: white;
  }

  /* Remove display: none from dropdown content */
  .dropdown-content {
    display: none; /* Hide dropdown content by default on smaller screens */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.764);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 100px; /* Position the dropdown content next to the button */
  }
}

/* Show/Hide logos based on screen size */
@media screen and (max-width: 768px) {
  .Headerlogo {
    display: none;
  }
  .Header_mobile_logo {
    display: block;
    max-width: 100%;
    max-height: 50px;
  }
}

@media screen and (min-width: 769px) {
  .Headerlogo {
    display: block;
    max-width: 100%;
    max-height: 75px;
  }
  .Header_mobile_logo {
    display: none;
  }
}


/* main resp. hlavny obsahh */
.main-heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20px;
  color: white; /* Add white text color */
  padding-top: 50px;
}

.support-text {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  color: white; /* Add white text color */
  font-size: 1.5rem;
}

.support-text p {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.support-text ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1.2rem;
}

.kickstart-button {
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: block;
  width: fit-content;
  margin: 20px auto;
}

.kickstart-button:hover {
  background-color: #00ff6a;
}

main {
  flex-grow: 1; /* po velmi dlhom a uuuumornom hladani som nasiel sposob ako udrzat footer dole .*/
}

.main-container {
  margin-bottom: 100px; /* Ensure space at the bottom to prevent overlap with footer */
  flex-grow: 1;
}

/* FOOTER */
.footer-clean {
  padding: 50px 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(24, 24, 24) 100%);
  color: #ffffff;
}
.footer-clean h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 32px;
}

.footer-links {
  padding: 0;
  list-style: none;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ffffff; /* Change text color to white */
  text-decoration: none;
  opacity: 0.8;
  font-size: 16px;
}

.footer-links a:hover {
  opacity: 1;
}

.social-button {
  background-color: transparent;
  color: inherit;
  border: 1px solid #cccccc00;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
  text-decoration: none;
}
.instagram-btn,
.artstation-btn {
  font-size: 16px; /* Increase font size for Instagram and Artstation buttons */
}

.social-button:hover {
  opacity: 0.9;
  border: 1px solid #cccccc;
}

.instagram-btn:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.artstation-btn:hover {
  background-color: rgb(46, 79, 199);
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.center {
  justify-content: center;
  align-items: center;
}

.footer-section {
  text-align: center;
}

.footer-section + .footer-section {
  margin-top: 20px;
}

.footer-section:last-child {
  margin-top: 40px;
}

.footer-section:last-child a {
  margin-right: 0;
}

.copyright-section {
  text-align: center;
}
